@import url('https://fonts.googleapis.com/css?family=Montserrat');
form{

	padding-top: 3px;
	padding-left: 10px;	
	background-color: #dcdcdc;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	border-style: double;
	border-bottom-width: 2px;
	border-color: grey;
}
form input{
	vertical-align: middle;
}
form input[type=search]{
	padding-left: 10px; 
	width: 140px;
}
div#menu,
nav#menu-departamentos{
	float: left;
}
form p#departamentos{
	font-family: 'Montserrat', sans-serif;
	font-size: 12pt;
	text-transform: uppercase;
	font-weight: bold;	

	padding: 10px 0px;
}
form p#busca{
	font-family: 'Montserrat', sans-serif;
	font-size: 9pt;
	text-transform: uppercase;
	font-weight: bold;	

	padding: 10px 0px;
}
nav#menu-departamentos{
	font-family: 'Montserrat', sans-serif;
	font-size: 12pt;
	text-transform: uppercase;
	font-weight: bold;	
	clear: left;
}
nav#menu-departamentos ul li{
	border-style: double;
	border-bottom-width: 2px;
	border-color: grey;

	padding: 10px;
}

div#destaques-flow{
	position: absolute;
	top: 0;
	right: 0;
}

div#destaques-flow figure img{	
	width: inherit;

}

div#menu{
	width: 185px;
	height: 342px;
}
img{
	height: inherit;
	width: inherit;
}
section.main{
	height: 480px;
}
section.painel{
	margin: 10px 0;
	padding: 10px;
	width: 445px;
}

section.novidades{
	float: left;
}
section.maisVendidos{
	float:right;
}
section.painel li{
	display: inline-block;
	vertical-align: top;
	width: 140px;

	margin: 2px;
	padding-bottom: 10px;
}
section.painel h2{
	font-family: "Montserrat";
	font-weight: bold;
	text-transform: uppercase;

	margin-bottom: 10px;
}

section.painel a{
	color: #333;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}

section.novidades{
	background-color: #F5DCDC;
}
section.maisVendidos{
	background-color: #dcdcf5;
}
section.painel ol li figure figcaption{
	font-family: "Montserrat";
}